altacv_security/JosephVitaResume.aux
altacv_security/JosephVitaResume.bcf
altacv_security/JosephVitaResume.fdb_latexmk
altacv_security/JosephVitaResume.fls
altacv_security/JosephVitaResume.log
altacv_security/JosephVitaResume.run.xml
altacv_security/JosephVitaResume.synctex.gz